<div class="row" style="background-color: coral;">
  <div class="col-md-12">
    <h2>List group</h2>
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let fruit of fruits" style="background-color: coral;">
  {{fruit}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let color of colors" style="background-color: coral;">
  {{color}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let number of numbers" style="background-color: coral;">
  {{number}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let city of cities" style="background-color: coral;">
  {{city}}
    </li>
</ul>


<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let color of colors" style="background-color: coral;">
  {{color}}
    </li>
</ul>




<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let lang of languages" style="background-color: coral;">
 <p>
    Languages with <strong>{{lang}}</strong> and counteries <strong>{{countries}}</strong>
 </p>
    </li>
</ul>


<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let hob of hobbies" style="background-color: coral;">
  {{hob}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let course of courses1" style="background-color: coral;">
  {{course}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let score of scores" style="background-color: coral;">
  {{score}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let month of months" style="background-color: coral;">
  {{month}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let event of events1" style="background-color: coral;">
  {{event}}
    </li>
</ul>


<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let skill of skills" style="background-color: coral;">
  {{skill}}
    </li>
</ul>

<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let role of roles" style="background-color: coral;">
  {{role}}
    </li>
</ul>


<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let alert of alerts" style="background-color: coral;">
  {{alert}}
    </li>
</ul>


<ul class="list-group mt-2">
    <li class="list-group-item" *ngFor="let status of statuses" style="background-color: coral;">
  {{status}}
    </li>
</ul>
  </div>
</div>


<!-- 
table form -->
<hr>


